body {
  font-family: Microsoft JhengHei;
  padding-top: 54px;
}
.row{
  margin-right:0px;
  margin-left:0px;
}
.navbar{
  padding:3px 0;
  background: #034e9e;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.navbar-brand {
    margin: 0 auto;
}
.navbar-nav .nav-link{
  color:white;
}
.navbar-nav li:hover {
  background: #003f82;
}
.navbar-nav li:hover a{
  color: white;
}
.navbar-nav > li > a:focus {
  background:#003f82;
}
.order_btn {
  background: #ff5c5c;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 0 20px;
  font-weight: bold;
}
.order_btn:hover{
  background: #ff3838;
  text-decoration: none;
  color:white;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #034e9e;
}
.slider .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
}
.marquee {
  display: block;
  width: 100%;
  height: 45px;
  background: #034e9e;
  padding: 0 5px;
}
marquee {
  display: block;
  float: left;
  width: 96%;
  margin: 7px 0;
  line-height: 33px;
}
marquee a{
  margin: 0 30px;
  color:white;
}
marquee a:hover{
  color:#ffe867;
  text-decoration: none;
}
.menu{
  margin:35px 0;
}
.menu .item {
  text-align: center;
  border: 1px solid #034e9e;
  border-radius: 5px;
}
.menu .item img{
  width:128px;
  display:block;
  margin:10px auto;
}
.menu .item span,.product_item span{
  display:inline-block;
  font-size:20px;
}
.marquee i {
  display: inline-block;
  float: left;
  margin: 0px 5px;
  line-height: 46px;
  font-size: 26px;
  color: white;
}
.section1{
  background:url('../img/bg01.jpg');
  background-size:cover;
  color:white;
  text-align:center;
  padding:80px 0;
}
.section1 h2{
  margin-bottom:20px
}
.section1 p{
  font-size:18px;
  line-height:2;
}
.product_list h3 i{
  display:inline-block;
  margin-right: 10px;
  color:#034e9e;
}
.product_list {
    display: block;
    float: left;
}
.product_list .col{
  padding-left:0px;
  padding-right:0px;
  margin:10px;
}
.product_list h3 {
  font-size: 26px;
  margin: 5px 0;
  border-bottom: 1px solid #eee;
  padding: 15px 10px;
  font-weight: bold;
  text-align: center;
}
.product_item {
  display: block;
  float: left;
  padding: 5px;
}
.card:hover{
  text-decoration: none;
  box-shadow:0px 0px 10px rgba(0,0,0,.3)
}
.product_item:hover a{
  text-decoration: none;
}
.product_item h3 {
  border: 0px;
  padding:0 10px;
  height:55px;
  font-size: 16px;
  font-weight: 600;
  color: #034e9e;
  text-align:left;
}

.product_item .price{
  text-align:right;
}
.product_item .price span{
  color:#ff4848;
}

footer {
  width: 100%;
  z-index: 9999;
  bottom: 0;
  background:#034e9e;
  padding: 20px 0 0;
  margin-top:30px;
}
.footer_menu{
  padding-bottom:20px;
}
.footer_menu p{
  margin-bottom:0;
  color:white;
}
.copyright p{
  margin-bottom:0;
  color:white;
  text-align:center;
}
.social li{
  display:inline-block;
  float:left;
  margin:0 10px;
}
.copyright{
  width: 100%;
  z-index: 9999;
  bottom: 0;
  background:#003c7b;
  padding:5px;
}

#other {
  padding: 10px;
}
#other .jumbotron {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#announce hr {
  margin: 5px 0;
}

#pray {
  padding: 10px 20px;
}

#pray #pray_search {
  padding: 0 8px;
  margin-bottom: 10px;
}

#pray .pray {
  padding: 0 5px;
  margin: 0 5px;
  margin-bottom: 10px;
}

#pray .pray .card-body {
  padding: 5px 10px;
}

#pray .pray .card-body span {
  display: block;
}

#pray .pray .card-title {
  padding: 5px 0;
  font-size: 19.2px;
  margin-bottom: 0;
}

#pray .pray .pray_info span {
  float: right;
  margin: 0 5px;
}
/* 常見問題 start*/
#faq {
  padding:  20px;
  height:1300px;
}
.faq-title{
  margin: 10px 0 20px;
}
.faq-title i{margin-right:10px}
#faq .card{
  border-radius:0px;
}
#faq .card:hover{
  box-shadow:none;
}
#faq .card-header{
  padding:0;
}
#faq .card-header .btn{
  width:100%;
  text-align:left;
}
#faq .card-header .btn:hover,#faq .card-header .btn:focus{
  text-decoration: none;
}
.card-body{padding:15px;}
/* 常見問題 end*/
#worship {
  padding: 10px;
}

#worship #worship_search {
  margin-bottom: 10px;
}

#worship .worship_list {
  padding: 0;
}

#worship .worship_list li {
  padding: 10px 15px;
}

#worship .worship_list li .badge {
  font-size: 14.4px;
  font-weight: 500;
  margin-right: 10px;
}

